:root {
  --primary-color: rgb(79, 124, 182);
  --complete-color: rgb(43, 92, 156);
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}
html {
  background: var(--primary-color);
}
body {
  color: var(--text-color);
  font-family: Roboto;
  margin: 0;
  background-size: cover;
}
h1 {
  font-family: Roboto;
  color:#CFCFCF;
}
p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
  font-size: 16px;
  font-family: Roboto;
}
button {
  color:#CFCFCF;
  font-size: 50px;
  background: transparent;
  cursor: pointer;
}
button[type="submit"]{
  font-family: Roboto;
  font-size: 15px;
  border: none;
  color:#000000;
  cursor: pointer;
}
select {
  outline: none;
  height: 40px;
}
li {
  list-style-type: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.item {
  max-width: 350px;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}
.item:hover {
  cursor: pointer;
}
.item-title {
  font-weight: bold;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 270px; 
  height: 1.2em; 
  white-space: nowrap;
}
.item-status {
  text-align: right;
}
.drop-wrapper {
  flex: 1 25%;
  width: 300px;
  height: 100%;
}
.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  width: 350px;
}
.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}
.col {
  min-height: 2rem;
  width: 300px;
}
.page-header {
  background-color: #10131470;
  padding: 20px;
  color: white;
  font-size: 20px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
  font-weight: bolder;
}
.modal {
  background-color: #F4F5F7;
  width: fit-content;
  height: fit-content;
  border-radius: 2px;
  margin: 48px 0 80px;
  outline: none;
  padding: 20px;
}
.overlay {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.close-bttn-ctn {
  display: flex;
  float: right;
}
.close-bttn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  border-radius: 25px;
}
.add-bttn {
  height: 35px;
  width: 35px;
  font-size: 20px;
  color: #031D2C;
  border: none;
  cursor: pointer;
  margin-left: 90%;
  margin-top: -17%;
  margin-bottom: 15px;
}
.add-table-bttn {
  height: 100px;
  width: 150px;
  color: #adaaaa;
  background-color: var(--background-color);
  margin-top: 58px;
  margin-left: 10px;
}
.crud-bttn {
  height: 40px;
  width: 45px;
  border: none;
  font-size: 15px;
  font-family: Roboto;
  color: #000000;
  cursor: pointer;
}
.add-label-bttn {
  height: 40px;
  width: 80px;
  border: none;
  font-size: 15px;
  font-family: Roboto;
  color: #000000;
  cursor: pointer;
}
.navbar {
  background: var(--complete-color);
  height: 50px;
  display: flex;
  z-index: 1;
  justify-content: right;
}
.nav-element {
  color: #CFCFCF;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  padding: 1.2rem;
}
.login-form {
  padding: 1rem;
}
.login-bttn {
  font-family: Roboto;
  color: #adaaaa;
  background-color: var(--background-color);
  margin-left: 15px;
}